################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContactManager/ContactManager.Web/bin
/ContactManager/ContactManager.Web/obj/Debug
/ContactManager/packages
/ContactManager/ContactManager.API/bin/Debug/net5.0
/ContactManager/ContactManager.API/obj
/ContactManager/ContactManager.Repository/bin/Debug/net5.0
/ContactManager/ContactManager.Repository/obj
